{% extends "review_ladder/base.html" %}
{% block title %}{{ repository }} &ndash; Top {{ maintainers|length }} reviewers{% endblock %}
{% block content %}
<h1 class="display-4">
    {{ repository }} &ndash; Top {{ maintainers|length }} reviewers
</h1>
{% if since %}
<h2>
    (since {{ since }})
</h2>
{% endif %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{% url "score" %}">Score</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "assignments" %}">Assignments</a>
    </li>
</ul>
<table class="table table-responsive table-striped w-100">
    <thead>
        <tr>
            <th class="text-center" scope="col">Place</th>
            <th class="w-100" scope="col">Maintainer</th>
            <th class="text-right" scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
{% for maintainer in maintainers %}
        <tr>
            <th class="text-center" scope="row">{{ forloop.counter0|add:1 }}</th>
            <td>
                <img class="mr-1" height="20" src="{{ maintainer.avatar_url }}" />
                <a href="https://github.com/{{ maintainer.name }}" target="_blank">{{ maintainer.name }}</a>
            </td>
            <td class="text-right">
                <span data-toggle="tooltip" data-placement="left" data-html="true"
                      title="<dl>
                                <dt>Approvals</dt><dd>{{ maintainer.stats.approvals }}</dd>
                                <dt>Change requests</dt><dd>{{ maintainer.stats.change_requests }}</dd>
                                <dt>Comments</dt><dd>{{ maintainer.stats.comments }}</dd>
                                <dt>Merges</dt><dd>{{ maintainer.stats.merges }}</dd>
                             </dl>">
                    {{ maintainer.score|floatformat:1 }}
                </span>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block footer %}
<p>
    Scores are calculated as follows:
    <ul>
    <li>For every approval a reviewer gets {{ scores.approval }} points.</li>
    <li>For every change request a reviewer gets {{ scores.change_request }}
        points.</li>
    <li>For every review comment even the once in a change request or approval
        (but not "normal" comments, since they are "issue comments" in GitHub's
        API) a reviewer gets {{ scores.comment }} points.</li>
    <li>For every merged pull request the author of the merge commit gets
        {{ scores.merge }} points.</li>
    <li>Comments, approvals and change requests in a reviewer's own pull request
        are not counted.</li>
    <li>Dismissed approvals and change requests are degraded to a comment
        score.</li>
    </ul>
</p>
{% endblock footer %}
